@model IEnumerable<EbayView.Models.ViewModel.admns.GetAdminsOutputModel>

<h1>List of All Admins</h1>
<p class="w-100 text-center">
    <a asp-action="Create" class="btn btn-primary m-4">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th> 
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td> 
            <td><a asp-action="Edit" asp-route-id="@item.AdminId" class="btn btn-primary">Edit</a></td>
            <td><a asp-action="Details" asp-route-id="@item.AdminId" class="btn btn-primary">Details</a></td>
            <td><a asp-action="Delete" asp-route-id="@item.AdminId" class="btn btn-primary">Delete</a></td>
        </tr>
}
    </tbody>
</table>
