@using EbayView.Services
@using Microsoft.AspNetCore.Http 
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model EbayView.Models.ViewModel.Offers.CreateOffersInputModel

<h4> Create New Offer</h4>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Select Product Name</label> 
				<select class="form-control" name="ProductId" onchange="changeoldprice(event)">
					@foreach (var product in ViewBag.AvailableProducts )
					{
						<option value="@product.Price">@product.Name</option>
					}
				</select> 
                @*<label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control"
                 onchange="changeoldprice(@ViewBag.AvailableProducts.Price)"  asp-items="@ViewBag.AvailableProducts.Name"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label">AdminName</label>
                @*<select asp-for="AdminId" class ="form-control" asp-items="ViewBag.AdminId"></select>*@
               <input type="text" readonly value="@HttpContextAccessor.HttpContext.Session.GetObjectFromJson("admin").FistName  @HttpContextAccessor.HttpContext.Session.GetObjectFromJson("admin").LastName" class="form-control"/>
                <input asp-for="AdminId" hidden value="@HttpContextAccessor.HttpContext.Session.GetObjectFromJson("admin").AdminId" class="form-control" readonly  />
            </div> 
            <div class="form-group">
                <label asp-for="NewPrice" class="control-label"></label>
                <input asp-for="NewPrice" class="form-control" />
                <span asp-validation-for="NewPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPrice" class="control-label"></label>
                <input asp-for="OldPrice" id="OldPrice" class="form-control" readonly />
                <span asp-validation-for="OldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precentage" class="control-label">Precentage in % </label>
                <input asp-for="Precentage" class="form-control" />
                <span asp-validation-for="Precentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" id="StartDate" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" min="2021-12-10T08:30" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" id=""EndDate" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

 <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
        var yyyy = today.getFullYear();
        if(dd<10){ dd='0'+dd } 
        if(mm<10){mm='0'+mm } 
        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("StartDate").setAttribute("min", today); 
    function changeoldprice(e) {
        console.log( e.target.value);
     document.getElementById("OldPrice").value = e.target.value;
    } 
 </script>
