@model EbayView.Models.ViewModel.Products.CreateProductInputModel

@{
    ViewData["Title"] = "Edit Product page ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="w-100 text-center">Edit Product page</h1>
 
<hr />
<div class="row">
    <div class="col-md-8 mx-auto shadow p-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" hidden asp-for="ProductId" value="@ViewBag.selectProduct.ProductId" />
            <div class="row">
                <div class="col-6 bp-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" value="@ViewBag.selectProduct.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-6 bp-2">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" value="@ViewBag.selectProduct.Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 bp-2">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" value="@ViewBag.selectProduct.Quantity" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="col-6 bp-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" value="@ViewBag.selectProduct.Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 bp-2">
                    <label asp-for="CatId" class="control-label">Select Category Name</label> 
						<select class="form-control" name="CatId" value="@ViewBag.selectProduct.CatId">
							@foreach (var category in ViewBag.AvailableCategories)
							{
								<option value="@category.CategoryId">@category.CategoryName</option>
							}
						</select>  
                    <span asp-validation-for="CatId" class="text-danger"></span>
                </div>
                <div class="col-6 bp-2">
                     <label asp-for="SubCatId" class="control-label">Select SubCategory Name</label>
					<select class="form-control" name="SubCatId" value="@ViewBag.selectProduct.SubCatId">
							@foreach (var SubCategory in ViewBag.AvailableSubCategories)
							{
								<option value="@SubCategory.SubCategoryId">@SubCategory.SubCatName</option>
							}
					</select>	
                    <span asp-validation-for="SubCatId" class="text-danger"></span>
                </div>
             </div>
             <div class="row">
                <div class="col-6 bp-2">
                    <label asp-for="BrandId" class="control-label">Change Brand Name </label>
						<select class="form-control" name="BrandId" value="@ViewBag.selectProduct.BrandId">
							@foreach (var Brands in ViewBag.AvailableBrands)
							{
								<option value="@Brands.BrandId">@Brands.BrandName</option>
							}
						</select>
                     <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
                <div class="col-6 bp-2">
                   <label asp-for="StockId" class="control-label">Select Stock Name</label>
						<select class="form-control" name="StockId" id="StockId" value="@ViewBag.selectProduct.StockId">
							@foreach (var Stock in ViewBag.AvailableStock)
							{
								<option value="@Stock.StockId">@Stock.StockName</option>
							}
						</select>	
                    <span asp-validation-for="StockId" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group">
                <input type="submit" value="Save Product" class="btn btn-primary w-auto" />
            </div>
        </form>
    </div>
    <div>
    <a asp-action="Index" class="btn btn-primary m-4">Back to List</a>
</div>
</div>
<script>
    @*document.getElementById("StockId").val();*@
</script>

 
